
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

img.sample{
    margin: 3rem;
    width: 250px;
}

.winner {
    margin-top: 2rem;
}

.winner div:first-child{
    background-color: #76da7e;
    color: #007500;
}

.winner div:first-child:before{
    content: 'WINNER';
}